<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.rewire">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rewire">
        <activity
            android:name=".BT_main"
            android:exported="true"
            android:launchMode="singleTask"/>
        <activity
            android:name=".CBT_Game"
            android:exported="true"
            android:launchMode="singleTask"/>
        <activity
            android:name=".CBT_Sublevel"
            android:exported="true"
            android:launchMode="singleTask"/>
        <activity
            android:name=".in_game_educationalpage"
            android:exported="true"
            android:launchMode="singleTask"/>
        <activity
            android:name=".cbt_qa"
            android:exported="true"
            android:launchMode="singleTask"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>